/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2021, 12:13:41 PM
    Author     : Admin
*/

.register-policy {
    font-size: 0.7rem;
    padding: 0 30px;
    text-justify: inter-word;
    text-align: center;
}

.register-policy a{
    text-decoration: none;
}